<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/audiobookshelf_reader"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABSReader"
        tools:targetApi="31">
        <activity
            android:name=".ui.audio_book_selected_text_book_menu.AudioBookSelectedTextBookMenuActivity"
            android:exported="false" />
        <activity
            android:name=".LibraryBooksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.audio_book_home.AudioBookHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.audio_book_log_in.AudioBookLogInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>